<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="hint-text">
          Basic commands
        </h1>
      </div>
      <div class="modal-body">
       <p> 

<b>cd</b> - change directory<br>
<b>cd ..</b> - move to the parent directory</br>
<b>cd\</b> - move to the root of current drive</br>
<b>cd x</b> - move to the current\x directory</br>
<b>cd z:</b> - change to the z root directory (as opposed to c:)</br>
<b>copy x y</b> - copy file x to directory y (Ex: D:\games\galaga.exe C:\programs[\awesome.exe]), [] - optional</br>
<b>copy file con</b> - display file contents in console</br>
<b>copy con file.txt</b> - create text file in the console window, end with ctrl+z (^z or F6)</br>
<b>date</b> - change the date</br>
<b>del</b> - delete/erase</br>
<b>del x</b> - deletes all files/folders fitting x</br>
<b>del .</b> - deletes all files within current directory</br>
<b>del *.*</b> - deletes all files within current directory</br>
<b>dir</b> - display contents of current directory (Ex: dir [c:][\programs]), [] - optional</br>
<b>dir *.txt</b> - list all .txt files in current directory</br>
<b>dir *.?</b> - list all files with extensions one character in length in current directory</br>
<b>dir /w /p *.*</b> - display all contents one screen at a time</br>
<b>dir | more</b> - display all contents one line at a time</br>
<b>dir /?</b> - provides syntax info and complete list of all dir parameters</br>
<b>echo</b> - send command line input to display (by default)</br>
<b>echo</b> sometext » somefile.txt - append line(s) of text to any file</br>
<b>echo</b> sometext > somefile.txt - overwrites file with sometext</br>
<b>erase</b> - delete/erase</br>
<b>exit</b> - exit the command prompt</br>
<b>filename.txt</b> - opens filename.txt in current directory in Notepad (or default .txt program)</br>
<b>format z:</b> - format z drive [Ex: use to format a disc or flash drive]</br>
<b>mkdir x</b> - make directory x in current directory</br>
<b>move x y</b> - more or rename x to y</br>
<b>q</b> - escapes sequential display of contents (i.e. the more parameter)</br>
<b>rd x</b> - remove/delete directory x if it’s empty</br>
<b>ren x y</b> - rename file x to y</br>
<b>time</b> - change the time</br>
<b>type file</b> - display the contents of the file ‘file’ (displays file contents in console)</br>
<b>type file |more </b>- display the contents one line at a time
      </p>



      </div>
      <div class="modal-footer">
       
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>