body {
  background: rgba(197,224,255,0.16) url("../images/dark-stripe.png");
};

pre {
  background-color: #000;
  color:red;
}

h1 {
  color: #fff;
}

.hidden-terminal {
  background-color:#000;
  color:#fff;
  height: 50px;
  font-family:monospace;
}

.terminal {
  color: #0f8;
  padding: 10px 15px;
  border-radius: 3px;
  height: 200px;
  background-color: #000;
  font-size: 20px;
  font-family:monospace;
}

@keyframes blink {
    0% { background-color: black; }
  100% { background-color: white }
}

.myCaret {
  animation-name: blink;
  animation-duration: 0.8s;
  animation-iteration-count: 0;
}

.score-block {
  margin-top: 30px;
}
.task {
  font-size: 50px;
  margin-bottom: 90px;
}
.next-btn {
  width: 100%;
  margin-top: 8px;
}
.help-btn {
  float:right;
}
.navbar-header a.logo-text {
  color: #F7F7F7;
}

.navbar-header a.logo-text:hover {
  color: #868686;
}

.logo {
  top: 2px;
  left: 5px;
  color: #00C700;
}


