body {
  background: rgba(197,224,255,0.16) url("../images/dark-stripe.png");
};

pre {
  background-color: #000;
  color:red;
}

h1 {
  color: #fff;
}

.hidden-terminal {
  background-color:#000;
  color:#fff;
  height: 50px;
  font-family:monospace;
}

.terminal {
  color: #0f8;
  margin-left: 15px;
  margin-right: 15px;
  height: 200px;
  background-color: #000;
  font-family:monospace;
}

@keyframes blink {
    0% { background-color: black; }
  100% { background-color: white }
}

.myCaret {
  animation-name: blink;
  animation-duration: 0.8s;
  animation-iteration-count: 0;
}

.score-block {
  margin-top: 30px;
}
.task {
  font-size: 50px;
}
.next-btn {
  width: 100%;
  margin-top: 8px;
}


