
<div class="container" ng-keydown="key($event)">
  
  <div class="row">
    <div class="col-md-12">
      <div class="well task"><h2>{{ data.currentQuestion.text}}</h2></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 " ng-click="startCaret()">
      <button class="btn btn-warning help-btn"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> USE HINT</button>
      <div class="terminal">$ {{ data.terminalText }}<span class="myCaret">&nbsp</span></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success next-btn" ng-click="showNextQuestion()">Next question</button>
    </div>
  </div>

  
  <hr>
  <input class="hidden-terminal" ng-model="data.terminalText" ng-blur="stopCaret()">
  <pre>
  {{ data | json }}
  </pre>
</div>