
<div class="container" ng-keydown="key($event)">
  
  <div class="row">
    <div class="col-md-12">
      <div class="btn btn-default instructions-label"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" "></span> INSTRUCTIONS</div>
      <div class="well task"><span class="glyphicon glyphicon-console console-icon" aria-hidden="true"></span><div class="task-test">{{ data.currentQuestion.text}}</div></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 " ng-click="startCaret()">
      <button class="btn btn-warning help-btn" ng-click="show()"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" "></span> USE HINT</button>
      <div class="terminal"><span class="terminal-history"></span><span>$ <span class="terminal-text" ng-bind="data.terminalText" ng-trim="false"></span><span class="myCaret">&nbsp</span><span></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary next-btn" ng-click="showNextQuestion()">View lesson</button>
    </div>
  </div>



  
  <input class="hidden-terminal" ng-model="data.terminalText" ng-trim="false" ng-blur="stopCaret()" maxlength="38">
  <!-- <hr>
  <pre>
  {{ data | json }}
  </pre> -->
</div>